
button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: grey;
  cursor: pointer;
  font-size: 0.9em;
  left: 92%;
  letter-spacing: 1.5px;
  line-height: 100%;
  width: 6%;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: 12%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  
}

button::before,
button::after {
  background-color: white;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center;
  transition: all 0.2s ease-in;
  z-index: -1;
}

button::before {
  background-color: black;
  transform: rotate(45deg);
}

button::after {
  transform: rotate(-45deg);
}

button:hover {
  color: black;
}

button:hover::before,
button:hover::after {
  transform: rotate(0deg);
}
