:root{--card__radius:10px}

.bottomTag {
    bottom:   0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}



.cardContainer{
    max-height: 85vh;
    overflow-y: auto;
}

.oneCard{
  border-radius: var(--card__radius);
  box-shadow: 2px 2px 5px #999;
  cursor: pointer;
  margin: 5px;
}


.col-sm{
    border-radius: 1em;
    border: 1px solid lightgrey;
    
    margin: 5px;
    min-width: 300px !important;
    max-width: 300px !important;
    background-color: var(--color__light);

  }
  
  .card{
    margin-top: 0.6em;
    
  }
  
  .card-body{
    
    border-radius: var(--card__radius);
    padding:1em;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    
  }
  

  
  .card-text{
    font-size: 0.8em;
    text-align: left;
  }

  .w-100{
    background-color:var(--color__dark) !important;
    border-radius: var(--card__radius) !important;

  }