:root{
  --color__light: white;
  --color__dark: white;
  --color__secondary: white;
  --color__text:black;
}

.App {
  text-align: center;
  color: var(--color__text)
  
}

.row {
  flex-wrap: nowrap !important;  
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 15px;
  width: 100px;
  margin-top:5px;
  margin-left: 5px;
  font-size: 10px;
  line-height: 15px;
  border-radius: 25px;
  background-color: lightgrey;
}